body {
    margin: 0;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #515151;
    background: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #aaa;
    outline: none;
}

a:hover,
button:hover {
    color: #515151;
    outline: none;
}

a:focus,
button:focus {
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.5em 1em;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    fill: currentColor;
}

.surroundings,
.building {
    transform-style: preserve-3d;
    transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
}

.surroundings,
.building {
    position: absolute;
    top: 50%;
    left: 50%;
}

.surroundings {
    width: 100vmin;
    height: 128vmin;
    margin: -64vmin 0 0 -52vmin;
    transition: transform 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.surroundings__map--selected {
    transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
}

.building {
    width: 50vmin;
    height: 64vmin;
    margin: -28vmin 0 0 -15vmin;
    transition: transform 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.building--selected {
    width: 80vmin;
    margin: -28vmin 0 0 -35vmin;
}

.museum {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.level,
.surroundings__map {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    transform-style: preserve-3d;
    transition: opacity 1s cubic-bezier(0.7, 0, 0.3, 1) 0s, transform 1s 0s;
}

.level.level--selected {
    transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
}

.level__pins {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pin {
    position: absolute;
    width: 5.5vmin;
    height: 8.25vmin;
    margin: -8.25vmin 0 0 -2.25vmin; /* let the bottom tip be the reference point for individual coordinates */
    -webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
    transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn__search {
    position: absolute;
    top: 1em;
    right: 0;
    z-index: 200;
    border: none;
    fill: #515151;

}

.btn__search--global {
    padding: 2vmin 2vmin;
}

.navBar {
    position: absolute;
    top: 14em;
    right: 0;
    border: none;
    z-index: 101;
    text-align: center;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.nav__btn--all-maps {
    border: none;
    padding: 2vmin 2vmin;
    background-color: #d7d7d7;
    fill: white;
}

.nav__btn--all-maps:hover {
    fill: #cccccc;
}

.navBar--hidden {
    pointer-events: none;
    opacity: 0;
}

@media screen and (max-width: 65.625em),
screen and (max-height: 40.625em) {
    .main {
        width: 100vw;
    }

    .container {
        overflow: hidden;
    }
}
}