body {
    margin: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.surroundings,
.building {
    transform-style: preserve-3d;
    transform: rotateX(70deg) rotateZ(-45deg) translateZ(-15vmin);
}

.surroundings,
.building {
    position: absolute;
    top: 50%;
    left: 50%;
}

.surroundings {
    width: 192vmin;
    height: 128vmin;
    margin: -64vmin 0 0 -96vmin;
}

.building {
    width: 96vmin;
    height: 64vmin;
    margin: -32vmin 0 0 -48vmin;
    transition: transform 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.museum {
    width: 100%;
    height: 100%;
}

.level {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    transform-style: preserve-3d;
    transition: opacity 1s cubic-bezier(0.7, 0, 0.3, 1) 0s, transform 1s 0s;
}

.level.level--open {
    transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
}